/* 

    h1{ background-color: cadetblue; font-size:20px;}
    .attribution a { color: hsl(228, 45%, 44%); }
    .button { font-size: large;}
    .aside { text-align: left;    }
    .article{ text-align: center;  }
    .form {  }
    */
  

   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

    *{ box-sizing: border-box;
        margin:0;
        padding:0;
    }
    body{ background-image: url(images/bg-intro-mobile.png);
        background-color: #ff7a7a;
        font-family: 'poppins',sans-serif; }


    h1{ color: white; 
        line-height: 1.333em;
         font-size: 1.7rem;
       }

    p{ color: white; 
            font-size: medium; 
            font-weight: 400;
           margin: 20px 0px;
     }
     
     
     
     input {  height: 3rem;
        border-radius: 0.25rem;
        width: 90%;
        margin:15px 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: #b9b6d3;
     }
    
    
    
    
    
    .aside {padding:60px  30px;
            }
            
            
            
            
    .article {padding:0px;}

    .form { background-color: white;
            width: 90%;
            border-radius: 0.5rem;
            margin:10px 25px;
            
          }
   

    .button { background-color: purple;
        margin: 10px;
        height: 5rem;
        border-radius: 0.5rem;
        width: 90%;
        font-size: 0.9rem;
        
    }


    .submit { background-color:green;
        color: white;
        height: 3rem;
        border-radius: 0.25rem;
        width: 90%;
        font-size: 0.7rem;
        line-height: 0.6em;
        text-transform: uppercase;
        font-weight: 500;
        
        }



        .attribution { font-size: 11px; 
            text-align: center;
        }
      
      
    
      
       .attribution a {
                color: hsl(228, 45%, 44%);
        }
        
        
        .Terms  {
            font-size: 0.8rem;
            color: #b9b6d3;
            margin:10px;
        }



        /* FOR DESKTOP VIEW */
@media only screen  and (min-width: 768px){ 

      
    body {background:url("images/bg-intro-desktop.png");
        background-color: #ff7a7a;
        }
        
        
    input {  height: 3rem;
            border-radius: 0.25rem;
            width: 90%;
         }

    .attribution {  font-size: 15px;
                    display: flex;
                    flex-direction: row; 
                    font-family: 'poppins',sans-serif;
     }

    .aside {   flex-grow: 2;
               align-self:center;
               width: 50%;
               margin:0px 50px;
           }
    
    
    
    .aside h1{ padding:0px 30px;}


    .aside p{ padding:0px 30px;}
    
    .article{ flex-grow: 1; 
              margin: 50px 20px;
            }
     
     
     
     
    .form {background-color: white;
         width: 100%;
           border-radius: 0.25rem;
          }

     
     
    .button {background-color: purple;
        margin: 10px 15px;
        height: 3rem;
        border-radius: 0.25rem;
        width: 100%;
    
    }
     
        
    .submit { background-color: green;
     color: white;
     text-transform: uppercase;
     font-size: large;
    }
     
    
 }